name: Deploy Spring Boot App to Azure App Service

on:
  push:
    branches: [ deploy-to-azure-app-service ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build Project
        run: mvn clean install -DskipTests
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: springboot-example
          path: ${{ github.workspace }}/target/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: springboot-example
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: springboot-demo-test
          publish-profile: ${{ secrets.azureWebAppPublishProfile }}
          package: '*.jar'
